
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="Stylesheet" href="Style.css">
</head>
<body id="h01">

<div id="wel">
<h1>Enter user details </h1>
<form id="form" action="#" th:action="@{/database}" th:object="${user}" method="get">

<p><label for="word" >Name</label>
<input type="text" name="word" id="word" th:field="*{userName}" ></p>
<p><label for="age">Age</label>
<input type="text" name="age" id="age" th:field="*{age}" ></p>
<p><label for="key" >Number key(Integer)</label>
<input type="text" name="key" id="key" th:field="*{uniqueKey}" ></p>
<br><br>
<input type="submit" value="submit">

</form>
</div>
</body>
</html>